#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 
override_dh_gencontrol:
	dh_gencontrol -- -Vceibal:Depends="$(shell sed 'N;s/\n/,/' debian/dependencies)"
